<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>SMRP</title>
</head>
<body>
    <h1>Social Media Request Portal</h1>
    <a href="/request/all"><button class="btn btn-primary">LEO View</button></a>
    <a href="/socialMedia/unansweredRequests"><button class="btn btn-primary">SME View</button></a>
</body>
</html>