<!DOCTYPE html>
<html lang="en">
<head>
    <title>Law Enforcement Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/globalstyling.css">
    <script src="/assets/js/requestForm/commonLEOfunctions.js"></script>
    <script src="/assets/js/globalFunctions.js"></script>
    <script type="text/javascript">
        $(function () {
            loadLEONav();
        });
    </script>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'top',
                container : 'body',
                title: 'Comment',
                html : true,
                trigger: "hover"});
        });
    </script>

</head>
<body>
    <div id="header"></div>
    <nav class="navbar navbar-default" id="navLEO"></nav>
    <div class="container">
        <h2>Home - View Requests</h2>
        <h5 style="color: darkgrey">Tips: Click on row to see result</h5>
        <h5 style="color: darkgrey">Tips: Hover on comment to see entire comment</h5>
        <table id="requestsTable" class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Case ID</th>
                <th>User Name</th>
                <th>Status</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {{#rejectedRequests}}
                <tr class='danger table-primary clickable-row' data-href='/request/{{requestID}}'>
                    <td>{{caseID}}</td>
                    <td>{{suspectUserName}}</td>
                    <td>{{status}}</td>
                    <td data-toggle="popover" data-content='{{socialMediaComment}}'>{{socialMediaComment}}</td>
                </tr>{{/rejectedRequests}}
            {{#answeredRequests}}
                <tr class='success clickable-row' data-href='/request/{{requestID}}'>
                    <td>{{caseID}}</td>
                    <td>{{suspectUserName}}</td>
                    <td>{{status}}</td>
                    <td data-toggle="popover" data-content='{{socialMediaComment}}'>{{socialMediaComment}}</td>
                </tr>{{/answeredRequests}}
            {{#pendingRequests}}
                <tr class="info clickable-row" data-href='/request/{{requestID}}'>
                    <td>{{caseID}}</td>
                    <td>{{suspectUserName}}</td>
                    <td>{{status}}</td>
                    <td data-toggle="popover" data-content='{{socialMediaComment}}'>{{socialMediaComment}}</td>
                </tr>{{/pendingRequests}}
            {{#closedRequests}}
                <tr class='active clickable-row' data-href='/request/{{requestID}}'>
                    <td>{{caseID}}</td>
                    <td>{{suspectUserName}}</td>
                    <td>{{status}}</td>
                    <td data-toggle="popover" data-content='{{socialMediaComment}}'>{{socialMediaComment}}</td>
                </tr>{{/closedRequests}}
            </tbody>
        </table>
    </div>
</body>
</html>