<!DOCTYPE html>
<html lang="en">
<head>
    <title>Law Enforcement Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/globalstyling.css">

    <!--Other internal js files for validation and posting-->
    <script src="/assets/js/requestForm/requestFormFunctions.js"></script>
    <script src="/assets/js/requestForm/commonLEOfunctions.js"></script>
    <script src="/assets/js/globalFunctions.js"></script>
    <script type="text/javascript">
        $(function () {
            loadLEONav();
        });
    </script>

    <!-- Include Bootstrap Multiselect CSS, JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">

    <!-- cdn source for date picker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">

    <!-- cdn source for time picker-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js"></script>

    <!-- Configuring date pickers and time pickers in the form-->
    <script type="text/javascript">
        $(function () {
            $("#"+sDate).datepicker({
                todayBtn:  1,
                autoclose: true,
            }).on('changeDate', function (selected) {
                var minDate = new Date(selected.date.valueOf());
                $('#'+eDate).datepicker('setStartDate', minDate);
                hideError(getElement('basicTimeError'));
            });

            $("#"+eDate).datepicker({
                todayBtn:  1,
                autoclose: true,
            }).on('changeDate', function (selected) {
                        var maxDate = new Date(selected.date.valueOf());
                        $('#'+sDate).datepicker('setEndDate', maxDate);
                        hideError(getElement('basicTimeError'));
                    });

            $('#startTime').timepicker();
            $('#endTime').timepicker({
            });

            $('#multiselect').multiselect({
                buttonWidth: '400px'
            });
        });
    </script>

    <!--Other internal js files for validation and posting-->
    <script src="/assets/js/requestForm/requestFormFunctions.js"></script>
    <script src="/assets/js/globalFunctions.js"></script>
</head>
<body>
<div id="header"></div>
<nav class="navbar navbar-default" id="navLEO"></nav>
<div class="container">
    <div class="page-header">
        <h2>Request Form</h2>
    </div>
    <p>Please fill the below Form and click Submit to request information from social media.</p>

    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="categoryList">
                <li class="active" id="liCaseDet"><a data-toggle="pill" href="#caseDet">Case Details</a></li>
                <li id="liBasicInfo"><a data-toggle="pill" href="#basicInfo">Basic Information</a></li>
                <li><a data-toggle="pill" href="#contentType">Type of Content</a></li>
                <li><a data-toggle="pill" href="#addInfo">Additional Information</a></li>
                <li><a data-toggle="pill" href="#filter">Filtering</a></li>
            </ul>
        </div>
        <!-- Case details tab -->
        <form id="ReqForm">
        <div class="col-sm-9" >
            <div class="tab-content">
                <div id="caseDet" class="tab-pane fade in active">
                    <h3>Case Details</h3>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="caseID">Case ID:</label>
                                <input type="text" class="form-control" id="caseID" placeholder="Enter Case Id" name="caseID" onfocus="hideError()"/>
                            </div>
                        </div>
                        <div class="row alert alert-danger collapse" id="caseIDError" ></div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="caseType">Case Type</label>
                                <select class="form-control" id="caseType">
                                    <option>Felony</option>
                                    <option>Assault</option>
                                </select>
                            </div>
                        </div>
                </div>
                <!-- Basic info tab -->
                <div id="basicInfo" class="tab-pane fade">
                    <h3>Basic information</h3>
                    <h4>Identifier</h4>
                    <p class="text-primary">Please fill in <kbd>atleast one</kbd> field!!</p>
                    <div class="row alert alert-danger collapse" id="basicInfoError" ></div>
                    <div class="form-group">
                        <label for="suspectUserName">User Name:</label>
                        <input type="text" class="form-control" id="suspectUserName" placeholder="Enter User Name" onfocus="hideError()"/>
                        <div class="row alert alert-danger collapse" id="suspectUserNameError" ></div>
                    </div>
                    <div class="form-group">
                        <label for="profileLink">Profile Link:</label>
                        <input type="text" class="form-control" id="profileLink" placeholder="Enter URL of suspect's profile page" onfocus="hideError()"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" >
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name of the suspect" onfocus="hideError()"/>
                            </div>
                        </div>
                        <div class="col-sm-4" >
                            <div class="form-group">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" id="middleName" placeholder="Enter Middle Name of the suspect" onfocus="hideError()"/>
                            </div>
                        </div>
                        <div class="col-sm-4" >
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name of the suspect" onfocus="hideError()"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Registered email address</label>
                        <input type="email" id="email" class="form-control" onfocus="hideError()"/>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Registered Phone No</label>
                        <input type="number" id="phoneNumber" class="form-control" onfocus="hideError()"/>
                    </div>
                    <hr size="30">
                    <h4>Time Frame</h4>
                    <div class="row alert alert-danger collapse" id="basicTimeError" ></div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label for="dtPickerStartDate">Start Date</label>
                                <div class='input-group date datepicker' id='dtPickerStartDate'>
                                    <input type='text' class="form-control" id="requestedDataStartDate" />
                                    <span class="input-group-addon btn">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label for="dtPickerEndDate">End Date</label>
                                <div class='input-group date datepicker' id='dtPickerEndDate'>
                                    <input type='text' class="form-control" id="requestedDataEndDate" />
                                    <span class="input-group-addon btn">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content type tab (subscriber information) -->
                <div id="contentType" class="tab-pane fade">
                    <h3>Type of content</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoShares" id="isSharesRequested">
                                <label class="form-check-label" for="isSharesRequested">
                                    Shares
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoNotes" id="isNotesRequested">
                                <label class="form-check-label" for="isNotesRequested">
                                    Notes
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoWallPostings" id="isWallPostingsRequested">
                                <label class="form-check-label" for="isWallPostingsRequested">
                                    Wall Postings
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoFriendList" id="isFriendListRequested">
                                <label class="form-check-label" for="isFriendListRequested">
                                    Friend Listing
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoGroupList" id="isGroupsRequested">
                                <label class="form-check-label" for="isGroupsRequested">
                                    Group Listing
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="subscriberInfoVideoList" id="isVideosRequested">
                                <label class="form-check-label" for="isVideosRequested">
                                    Video Listing
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional Information tab (Other information) -->
                <div id="addInfo" class="tab-pane fade">
                    <h3>Additional information</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isPastEventsRequested" value="PastEvent">
                        <label class="form-check-label" for="isPastEventsRequested">Past Events</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isFutureEventsRequested" value="FutureEvent">
                        <label class="form-check-label" for="isFutureEventsRequested">Future Events</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="UserPhotos" id="isPhotosRequested">
                        <label class="form-check-label" for="isPhotosRequested">
                            User Photos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="GroupInfo" id="isGroupInfoRequested">
                        <label class="form-check-label" for="isGroupInfoRequested">
                            Group Information
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="PvtMsg" id="isPrivateMessagesRequested">
                        <label class="form-check-label" for="isPrivateMessagesRequested">
                            Private Messages
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="IpLogs" id="isIPLogRequested">
                        <label class="form-check-label" for="isIPLogRequested">
                            IP Logs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="MiniFeed" id="isMiniFeedRequested">
                        <label class="form-check-label" for="isMiniFeedRequested">
                            Mini Feeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="StatusHistory" id="isStatusHistoryReuested">
                        <label class="form-check-label" for="isStatusHistoryReuested">
                            Status History
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="ContactInfo" id="isContactInformationRequested">
                        <label class="form-check-label" for="isContactInformationRequested">
                            Contact Information
                        </label>
                    </div>
                </div>
                <div id="filter" class="tab-pane fade">
                    <h3>Additional filtering</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="startTime">Start Time</label>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="startTime" type="text" class="form-control input-small">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="endTime">End Time</label>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="endTime" type="text" class="form-control input-small">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="communicantsUserNames">Communicants</label>
                        <input id="communicantsUserNames" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="keywords">Keywords</label>
                        <input id="keywords" type="text" class="form-control"/>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="keywordCategories">KeywordCategory</label>
                            <select class="form-control" id="keywordCategories" multiple>
                                <option value="armsdealing">Arms Dealing</option>
                                <option value="cyberbullying">Cyber-bullying</option>
                                <option value="terrorism">Terrorism</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="locationZipCode">Enter location Zipcode (to get activities in 5 mile radius)</label>
                            <input id="locationZipCode" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</form>
    </div>

    <div class="container text-center">
        <button type="submit" class="btn btn-primary" onclick="validate()">Submit</button>
    </div>
</div>

</body>
</html>