<!DOCTYPE html>
<html lang="en">
<head>
    <title>Law Enforcement Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/globalstyling.css">
    <script src="/assets/js/globalFunctions.js"></script>
    <script src="/assets/js/Sme/commonSmeFn.js"></script>
    <script type="text/javascript">
        $(function () {
            loadSmeNav();
        });
        function nav(e) {
            try {
                window.location.assign("http://localhost:8080/socialMedia/DataUploadForm?requestId=" + $(e.cells[0]).text());
            }
            catch(err) {
                alert(err);
            }
        }
    </script>
</head>
<body>
<div id="header"></div>
<nav class="navbar navbar-default" id="navSME"></nav>
    <div class="container">
        <div class="page-header">
        <h2>Home - View Requests</h2>
        </div>
        <h4 class="text-primary">Click on row to upload data for that request</h4>
        <table id="requestsTable" class="table table-striped table-hover table-bordered" clickToSelect="true">
            <thead>
            <tr>
                <th>Request ID</th>
                <th>Case ID</th>
                <th>Suspect User Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                {{#allRequests}}
                <tr onclick=nav(this)>
                <td>{{requestID}}</td>
                <td>{{caseID}}</td>
                <td>{{suspectUserName}}</td>
                <td>{{status}}</td>
                </tr>
                {{/allRequests}}
            </tbody>
        </table>
    </div>
</body>
</html>