<!DOCTYPE html>
<html lang="en">
<head>
    <title>Law Enforcement Template</title>
</head>
<body>
<h2>Access denied!</h2>
<h3>Seems like you don't have permission to perform the requested action. Try contacting an admin.</h3>
</body>
</html>